{% extends 'base.html' %}

{% block nav %}

<li class="active"><a href="{% url 'homepage' %}" style="color: #fff;">Back</a></li>

{% endblock nav %}

<!-- {% block css %}

<style>
  table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
  }
  </style>

{% endblock css %} -->

{% block content %}

  <!-- ======= Notice Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title" style="margin-bottom: 20px; margin-top:50px;">
          <h2>Notice Board</h2>
          <p></p>
        </div>

         
          
          <table style="width:100%; margin-left: auto; margin-right: auto; " >
            <tr>
              <th>SN</th>
              <th>Content</th> 
              <th>Published Date</th>
            </tr>
            {% for i in notice %}
            <tr>
              <td>{{forloop.counter}}</td>
              {% if i.link %}
              <td><a href="{{ i.link }}">{{i.name}}</a></td>
              {% else %}
              <td><a href="{{ i.noticeURL }}">{{i.name}}</a></td>
              {% endif %}
              <td>{{i.date}}</td>
            </tr>
            {% endfor %}
          </table>
      </div>
    </section>
<!-- End Notice Section -->

{% endblock content %}